HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/bin/



### REACT RELATED ###
# dependencies
src/main/app/node_modules
src/main/app/.pnp
src/main/app.pnp.js

# testing
src/main/app/coverage

# production
src/main/app/build

# misc
src/main/app.DS_Store
src/main/app.env.local
src/main/app.env.development.local
src/main/app.env.test.local
src/main/app.env.production.local

src/main/appnpm-debug.log* 
